<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" />
	</system.web>
	<!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
	<system.serviceModel>
		<services>
			<!-- Define your service -->
			<service name="Workday.WebService.Service1">
				<host>
					<baseAddresses>
						<!-- Define the base address -->
						<add baseAddress="http://localhost:8733/WorkdayService/Service1.svc"/>
					</baseAddresses>
				</host>
				<!-- Service Endpoints -->
				<!-- Define your endpoint -->
				<endpoint address="" binding="basicHttpBinding" contract="Workday.WebService.IService1">
					<!-- Define the identity -->
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<!-- Metadata Endpoints -->
				<!-- This endpoint allows clients to retrieve metadata about the service -->
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- Enable metadata exchange -->
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
					<!-- Enable exception details in faults for debugging purposes -->
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

</configuration>
